.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  
  @media screen and (min-width: 561px) {
    max-width: 520px;
  }

  @media screen and (max-width: 560px) {
    max-width: 90%;
  }

  &__block {
    background-color: #f4f4f4;
    border-radius: 10px;
    margin-top: 25px;
    padding: 20px 90px;
  }

  &__block:last-of-type {
    margin-bottom: 50px;
  }

  &__title {
    font-weight: bold;
  }

  &__desc {
    margin: 10px 0;
  }

  &__image { 
    align-items: center;
    background-color: #858585;
    border-radius: 18px;
    display: flex;
    height: 50px;
    justify-content: center;
    left: 20px;
    position: absolute;
    width: 50px;
  }

  &__image::before {
    display: flex;
  }

  &__image--about::before {
    content: url("data:image/svg+xml,%3Csvg width='21' height='19' viewBox='0 0 21 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1.35714C7.69223 1.35714 8.36892 1.55613 8.9445 1.92894C9.52007 2.30175 9.96867 2.83165 10.2336 3.45161C10.4985 4.07157 10.5678 4.75376 10.4327 5.41191C10.2977 6.07006 9.96436 6.67461 9.47487 7.14911C8.98539 7.62361 8.36175 7.94675 7.68282 8.07766C7.00388 8.20858 6.30015 8.14139 5.66061 7.88459C5.02107 7.62779 4.47444 7.19292 4.08986 6.63497C3.70527 6.07702 3.5 5.42104 3.5 4.75C3.5 3.85016 3.86875 2.98717 4.52513 2.35089C5.1815 1.7146 6.07174 1.35714 7 1.35714ZM7 0C6.03087 0 5.08351 0.278583 4.27771 0.800519C3.47191 1.32246 2.84386 2.0643 2.47299 2.93225C2.10212 3.8002 2.00508 4.75527 2.19415 5.67668C2.38322 6.59809 2.8499 7.44446 3.53518 8.10876C4.22045 8.77306 5.09355 9.22545 6.04406 9.40873C6.99456 9.59201 7.97979 9.49794 8.87515 9.13843C9.77051 8.77891 10.5358 8.17009 11.0742 7.38896C11.6126 6.60782 11.9 5.68946 11.9 4.75C11.9 3.49022 11.3838 2.28204 10.4648 1.39124C9.54589 0.500445 8.29956 0 7 0Z' fill='%23fff'/%3E%3Cpath d='M14 19H12.6V15.6071C12.6 14.7073 12.2313 13.8443 11.5749 13.208C10.9185 12.5717 10.0283 12.2143 9.1 12.2143H4.9C3.97174 12.2143 3.0815 12.5717 2.42513 13.208C1.76875 13.8443 1.4 14.7073 1.4 15.6071V19H0V15.6071C0 14.3474 0.516248 13.1392 1.43518 12.2484C2.3541 11.3576 3.60044 10.8571 4.9 10.8571H9.1C10.3996 10.8571 11.6459 11.3576 12.5648 12.2484C13.4838 13.1392 14 14.3474 14 15.6071V19Z' fill='%23fff'/%3E%3Cpath d='M14 1.35714H21V2.71429H14V1.35714Z' fill='%23fff'/%3E%3Cpath d='M14 4.75H21V6.10714H14V4.75Z' fill='%23fff'/%3E%3Cpath d='M14 8.14286H18.9V9.5H14V8.14286Z' fill='%23fff'/%3E%3C/svg%3E");
  }

  &__image--skills::before {
    content: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.0399 15.9518L17.0626 10.9745L22.0391 5.99793C22.1851 5.85205 22.301 5.67884 22.38 5.48818C22.4591 5.29751 22.4999 5.09314 22.4999 4.88673C22.5 4.68032 22.4594 4.47592 22.3805 4.2852C22.3015 4.09448 22.1858 3.92118 22.0399 3.77521L22.0391 3.77364L19.2264 0.960865C19.0805 0.81483 18.9073 0.698964 18.7166 0.619888C18.526 0.540811 18.3216 0.500073 18.1152 0.5C17.9088 0.499927 17.7044 0.540521 17.5137 0.619463C17.3229 0.698404 17.1496 0.814147 17.0037 0.960079L17.0029 0.960865L12.0264 5.93743L7.04914 0.960079C6.75406 0.666258 6.3546 0.501297 5.93819 0.501297C5.52178 0.501297 5.12232 0.666258 4.82724 0.960079L0.960139 4.82646C0.665507 5.12127 0.5 5.52102 0.5 5.93782C0.5 6.35462 0.665507 6.75437 0.960139 7.04918L5.93662 12.0257L0.500518 17.4635V22.4998H5.53671L10.9736 17.0628L15.9509 22.0417C16.2464 22.3353 16.6461 22.5 17.0626 22.5C17.4791 22.5 17.8788 22.3353 18.1743 22.0417L22.0399 18.1746C22.3345 17.8797 22.5 17.48 22.5 17.0632C22.5 16.6464 22.3345 16.2467 22.0399 15.9518ZM18.1099 2.06869L20.9305 4.88932L15.9548 9.86588L13.1342 7.04525L18.1099 2.06869ZM5.21458 20.9284H2.07187V18.107L7.04521 13.1344L9.93336 16.0241L5.21458 20.9284ZM17.0626 20.9315L2.07187 5.93743L5.93898 2.07183L8.91512 5.04724L7.14578 6.8174L8.25751 7.92837L10.0261 6.15899L13.2709 9.40389L11.5 11.1717L12.6125 12.2827L14.3819 10.5133L17.6267 13.7582L15.8574 15.5268L16.9683 16.6385L18.7377 14.8699L20.9297 17.0628L17.0626 20.9315Z' fill='%23fff'/%3E%3C/svg%3E");
  }

  &__image--work::before {
    content:  url("data:image/svg+xml,%3Csvg width='19' height='23' viewBox='0 0 19 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.26 5.89385C9.28193 5.85074 9.31605 5.8144 9.35849 5.78899C9.40092 5.76357 9.44996 5.75009 9.5 5.75009C9.55004 5.75009 9.59907 5.76357 9.64151 5.78899C9.68394 5.8144 9.71807 5.85074 9.74 5.89385L10.691 7.74106C10.71 7.77843 10.7383 7.81079 10.7733 7.83533C10.8083 7.85988 10.8491 7.87588 10.892 7.88194L13.022 8.17807C13.2395 8.20826 13.328 8.46557 13.169 8.61364L11.63 10.0526C11.5989 10.0817 11.5758 10.1175 11.5624 10.1571C11.5491 10.1967 11.546 10.2388 11.5535 10.2797L11.9165 12.3124C11.9247 12.3593 11.919 12.4075 11.9001 12.4515C11.8813 12.4955 11.85 12.5337 11.8098 12.5616C11.7696 12.5895 11.7221 12.6061 11.6726 12.6096C11.6231 12.6131 11.5735 12.6032 11.5295 12.5812L9.6245 11.6209C9.58631 11.6018 9.54385 11.5918 9.50075 11.5918C9.45765 11.5918 9.41519 11.6018 9.377 11.6209L7.472 12.5812C7.42804 12.6028 7.37868 12.6124 7.3294 12.6087C7.28013 12.605 7.23288 12.5884 7.19292 12.5605C7.15296 12.5326 7.12186 12.4947 7.10307 12.4509C7.08428 12.4071 7.07854 12.3591 7.0865 12.3124L7.4495 10.2797C7.45716 10.2389 7.45433 10.1969 7.44126 10.1573C7.4282 10.1177 7.40528 10.0818 7.3745 10.0526L5.8295 8.61364C5.79411 8.58034 5.7691 8.53825 5.75727 8.49209C5.74543 8.44594 5.74725 8.39753 5.76251 8.35231C5.77778 8.30709 5.80588 8.26683 5.84368 8.23605C5.88147 8.20528 5.92746 8.1852 5.9765 8.17807L8.1065 7.88194C8.14943 7.87588 8.19016 7.85988 8.22519 7.83533C8.26021 7.81079 8.28846 7.77843 8.3075 7.74106L9.26 5.89385Z' fill='%23fff'/%3E%3Cpath d='M0.5 2.87505C0.5 2.11254 0.81607 1.38126 1.37868 0.842082C1.94129 0.302906 2.70435 0 3.5 0H15.5C16.2956 0 17.0587 0.302906 17.6213 0.842082C18.1839 1.38126 18.5 2.11254 18.5 2.87505V22.2816C18.4999 22.4116 18.4631 22.5392 18.3933 22.6507C18.3236 22.7622 18.2236 22.8535 18.104 22.9149C17.9844 22.9763 17.8497 23.0054 17.7142 22.9992C17.5787 22.993 17.4474 22.9516 17.3345 22.8796L9.5 18.833L1.6655 22.8796C1.55256 22.9516 1.42135 22.993 1.28584 22.9992C1.15033 23.0054 1.0156 22.9763 0.895999 22.9149C0.776399 22.8535 0.676406 22.7622 0.606671 22.6507C0.536936 22.5392 0.50007 22.4116 0.5 22.2816V2.87505ZM3.5 1.43752C3.10218 1.43752 2.72064 1.58898 2.43934 1.85856C2.15804 2.12815 2 2.49379 2 2.87505V20.939L9.0845 17.371C9.20759 17.2925 9.35215 17.2507 9.5 17.2507C9.64785 17.2507 9.79241 17.2925 9.9155 17.371L17 20.939V2.87505C17 2.49379 16.842 2.12815 16.5607 1.85856C16.2794 1.58898 15.8978 1.43752 15.5 1.43752H3.5Z' fill='%23fff'/%3E%3C/svg%3E");
  }

}
