.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;

  &__background {
    background-color: black;
    height: 300px;
    left: -10px;
    position: absolute;
    top: -180px;
    transform:rotateZ(-3deg);
    width: calc(100% + 50px);
    z-index: 1;
  }

  &__name {
    margin: -5px 0 -10px;
  }

  &__image {
    display: flex;
    height: 130px;
    margin: 40px auto 10px;
    width: 130px;
    z-index: 2;
  }

  &__contact {
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    @media screen and (min-width: 341px) {
      width: 330px;
    }
  
    @media screen and (max-width: 340px) {
      width: 300px;
    }
  }

  &__social {
    color: black;
    display: flex;
  }

  &__social::before {
    margin: 2px 5px;
  }

  &__social--linkedin::before {
    content: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.5 1.83673C0.5 1.48221 0.640834 1.14221 0.891519 0.89152C1.1422 0.640835 1.48221 0.500002 1.83673 0.500002H15.1618C15.3375 0.499715 15.5115 0.534084 15.6739 0.601141C15.8363 0.668198 15.9839 0.766627 16.1082 0.890792C16.2325 1.01496 16.3311 1.16242 16.3983 1.32474C16.4655 1.48705 16.5001 1.66104 16.5 1.83673V15.1618C16.5002 15.3375 16.4657 15.5116 16.3986 15.674C16.3315 15.8364 16.233 15.9839 16.1087 16.1082C15.9845 16.2325 15.837 16.3311 15.6746 16.3983C15.5123 16.4655 15.3383 16.5001 15.1625 16.5H1.83673C1.66112 16.5 1.48724 16.4654 1.32502 16.3982C1.16279 16.331 1.0154 16.2324 0.891261 16.1082C0.767125 15.984 0.668678 15.8366 0.601544 15.6743C0.53441 15.512 0.499905 15.3381 0.5 15.1625V1.83673ZM6.83309 6.60037H8.99964V7.68836C9.31236 7.06291 10.1124 6.5 11.3145 6.5C13.6193 6.5 14.1655 7.74582 14.1655 10.0316V14.2658H11.8331V10.5524C11.8331 9.25055 11.5204 8.516 10.7262 8.516C9.62436 8.516 9.16618 9.308 9.16618 10.5524V14.2658H6.83309V6.60037ZM2.83309 14.1662H5.16618V6.5H2.83309V14.1655V14.1662ZM5.5 3.99964C5.5044 4.1994 5.46885 4.39803 5.39545 4.58387C5.32204 4.7697 5.21226 4.93901 5.07253 5.08184C4.93281 5.22468 4.76596 5.33816 4.58179 5.41564C4.39761 5.49312 4.19981 5.53303 4 5.53303C3.80019 5.53303 3.60239 5.49312 3.41821 5.41564C3.23404 5.33816 3.06719 5.22468 2.92747 5.08184C2.78774 4.93901 2.67796 4.7697 2.60455 4.58387C2.53115 4.39803 2.4956 4.1994 2.5 3.99964C2.50863 3.60753 2.67046 3.2344 2.95083 2.96014C3.23119 2.68588 3.6078 2.53231 4 2.53231C4.3922 2.53231 4.76881 2.68588 5.04917 2.96014C5.32954 3.2344 5.49137 3.60753 5.5 3.99964Z' fill='%238B8B8B'/%3E%3C/svg%3E");
  }

  &__social--github::before {
    content: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7857 0.5H2.21429C1.26786 0.5 0.5 1.26786 0.5 2.21429V14.7857C0.5 15.7321 1.26786 16.5 2.21429 16.5H14.7857C15.7321 16.5 16.5 15.7321 16.5 14.7857V2.21429C16.5 1.26786 15.7321 0.5 14.7857 0.5ZM10.4036 14.2036C10.1036 14.2571 9.99286 14.0714 9.99286 13.9179C9.99286 13.725 10 12.7393 10 11.9429C10 11.3857 9.81429 11.0321 9.59643 10.8464C10.9179 10.7 12.3107 10.5179 12.3107 8.23571C12.3107 7.58571 12.0786 7.26072 11.7 6.84286C11.7607 6.68929 11.9643 6.05714 11.6393 5.23571C11.1429 5.08214 10.0071 5.875 10.0071 5.875C9.53572 5.74286 9.025 5.675 8.52143 5.675C8.01786 5.675 7.50714 5.74286 7.03571 5.875C7.03571 5.875 5.9 5.08214 5.40357 5.23571C5.07857 6.05357 5.27857 6.68571 5.34286 6.84286C4.96429 7.26072 4.78571 7.58571 4.78571 8.23571C4.78571 10.5071 6.11786 10.7 7.43929 10.8464C7.26786 11 7.11429 11.2643 7.06071 11.6429C6.72143 11.7964 5.85357 12.0607 5.33571 11.1464C5.01071 10.5821 4.425 10.5357 4.425 10.5357C3.84643 10.5286 4.38571 10.9 4.38571 10.9C4.77143 11.0786 5.04286 11.7643 5.04286 11.7643C5.38929 12.825 7.04643 12.4679 7.04643 12.4679C7.04643 12.9643 7.05357 13.7714 7.05357 13.9179C7.05357 14.0714 6.94643 14.2571 6.64286 14.2036C4.28571 13.4143 2.63571 11.1714 2.63571 8.55C2.63571 5.27143 5.14286 2.78214 8.42143 2.78214C11.7 2.78214 14.3571 5.27143 14.3571 8.55C14.3607 11.1714 12.7607 13.4179 10.4036 14.2036ZM6.9 12.0214C6.83214 12.0357 6.76786 12.0071 6.76071 11.9607C6.75357 11.9071 6.8 11.8607 6.86786 11.8464C6.93571 11.8393 7 11.8679 7.00714 11.9143C7.01786 11.9607 6.97143 12.0071 6.9 12.0214ZM6.56071 11.9893C6.56071 12.0357 6.50714 12.075 6.43571 12.075C6.35714 12.0821 6.30357 12.0429 6.30357 11.9893C6.30357 11.9429 6.35714 11.9036 6.42857 11.9036C6.49643 11.8964 6.56071 11.9357 6.56071 11.9893ZM6.07143 11.95C6.05714 11.9964 5.98571 12.0179 5.925 11.9964C5.85714 11.9821 5.81071 11.9286 5.825 11.8821C5.83929 11.8357 5.91071 11.8143 5.97143 11.8286C6.04286 11.85 6.08929 11.9036 6.07143 11.95ZM5.63214 11.7571C5.6 11.7964 5.53214 11.7893 5.47857 11.7357C5.425 11.6893 5.41071 11.6214 5.44643 11.5893C5.47857 11.55 5.54643 11.5571 5.6 11.6107C5.64643 11.6571 5.66429 11.7286 5.63214 11.7571ZM5.30714 11.4321C5.275 11.4536 5.21429 11.4321 5.175 11.3786C5.13571 11.325 5.13571 11.2643 5.175 11.2393C5.21429 11.2071 5.275 11.2321 5.30714 11.2857C5.34643 11.3393 5.34643 11.4036 5.30714 11.4321ZM5.075 11.0857C5.04286 11.1179 4.98929 11.1 4.95 11.0643C4.91071 11.0179 4.90357 10.9643 4.93571 10.9393C4.96786 10.9071 5.02143 10.925 5.06071 10.9607C5.1 11.0071 5.10714 11.0607 5.075 11.0857ZM4.83571 10.8214C4.82143 10.8536 4.775 10.8607 4.73571 10.8357C4.68929 10.8143 4.66786 10.775 4.68214 10.7429C4.69643 10.7214 4.73571 10.7107 4.78214 10.7286C4.82857 10.7536 4.85 10.7929 4.83571 10.8214Z' fill='%238B8B8B'/%3E%3C/svg%3E");
  }

  &__social--mail::before {
    content: url("data:image/svg+xml,%3Csvg width='17' height='13' viewBox='0 0 17 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9 11.3H13.3V4.30001L8.5 7.30001L3.7 4.30001V11.3H2.1V1.70001H3.06L8.5 5.10001L13.94 1.70001H14.9V11.3ZM14.9 0.100006H2.1C1.212 0.100006 0.5 0.812006 0.5 1.70001V11.3C0.5 11.7244 0.668571 12.1313 0.968629 12.4314C1.26869 12.7314 1.67565 12.9 2.1 12.9H14.9C15.3243 12.9 15.7313 12.7314 16.0314 12.4314C16.3314 12.1313 16.5 11.7244 16.5 11.3V1.70001C16.5 1.27566 16.3314 0.868693 16.0314 0.568635C15.7313 0.268577 15.3243 0.100006 14.9 0.100006Z' fill='%238B8B8B'/%3E%3C/svg%3E");
  }
}
