body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  width: 100%;

}

p:first-of-type {
  margin-top: 0;
}

a, p, span {
  font-family: 'Sunflower', sans-serif;
}

h1, h2 {
  font-family: 'Teko', sans-serif;
}

a {
  color: black;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}
